<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>IPアドレス割り当て検索プログラム</title>
  </head>
  <body>
    IPを入力してください。（IPV4のみ。サブネットマスク等は入れない）
    <form action="index.php" method="get">
      <input type="text" name="in_ip" value="{{ in_ip }}" size="15" />
      <input type="submit" name="submit" value="検索" />
    </form>
    <br />
    <br />
    {% if data_flg == "OK" %}
    <table border="0">
      <tbody>
        <tr>
          <td colspan="2" align="CENTER">検索結果（{{ in_ip }}）</td>
        </tr>
        <tr>
          <td>IPアドレス</td>
          <td>{{ in_ip }}</td>
        </tr>
        <tr>
          <td>ホスト名</td>
          <td>{{ hostname }}</td>
        </tr>
        <tr>
          <td>ネットブロック</td>
          <td>{{ netblock }}({{ kosu|number_format }}個のアドレス)</td>
        </tr>
        <tr>
          <td>割り当てブロック</td>
          <td>{{ ip }} - {{ kosu }} addresses</td>
        </tr>
        <tr>
          <td>割り当て</td>
          {% if wariate_year != 0 %}
          <td>{{ wariate|upper }}/{{ wariate_year }}</td>
          {% else %}
          <td>{{ wariate|upper }}/不明</td>
          {% endif %}
        </tr>
        <tr>
          <td>国/地域</td>
          <td>{{ country }}:{{ country_name }}</td>
        </tr>
      </tbody>
    </table>
    <p>{{ whois_data|nl2br }}</p>
    {% endif %} {% if data_flg=="NG" %} データがありません {% endif %}
  </body>
</html>
